<div class="row">
        @for(item of listadoCasas; track item.id){
            <div class="col-md-3 col-12">
                <div class="card">
                    <img [src]="item.photo" class="card-img-top"/>
                    <div class="card-header">
                        <h1 class="card-title"></h1>
                    </div>
                    <div class="card-body"></div>
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.city}} - {{item.state}}<br />
                        <i class="bi bi-wifi"></i> Wifi {{item.wifi}}
                    </p>
                    <div class="card-footer"></div>
                </div>
            </div>
        }
    </div>