<div class="container mt-4">
    <div class="row">
        @for(item of listadoPersonas; track item.url){
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <img [src]="'https://starwars-visualguide.com/assets/img/characters/' + item.url.split('/')[item.url.split('/').length - 2] + '.jpg'" class="card-img-top">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">Height: {{ item.height }}<br/></p>
                    <p class="card-text">Mass: {{ item.mass }}<br/></p>
                    <p class="card-text">Eye color: {{ item.eye_color }}<br/></p>
                </div>
            </div>
        </div>
        }
    </div>
</div>